<div>
  <app-filter (filterUpdate)="updateTable($event)"></app-filter>
  <hr />
  <div class="card">
    <div class="card-header">
      USER STATISTICS
    </div>
    <div class="card-body">
      <table class="table table-responsive table-bordered">
        <thead>
          <tr class="bg-warning">
            <th scope="col">Username</th>
            <th scope="col">Min. Entry Time</th>
            <th scope="col">Max. Entry Time</th>
            <th scope="col">Min. Exit Time</th>
            <th scope="col">Max. Exit Time</th>
            <th scope="col">Min. Work Hours</th>
            <th scope="col">Max. Work Hours</th>
            <th scope="col">Avg. Work Hours</th>
            <th scope="col">Total Hours Worked</th>
            <th scope="col">Total Days Worked</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="userstats.length === 0">
            <td colspan="10" class="text-center">
              No data available
            </td>
          </tr>
          <tr *ngFor="let userstat of userstats">
            <th scope="row">{{ userstat.username }}</th>
            <td>{{ userstat.earliestEntryTime }}</td>
            <td>{{ userstat.latestEntryTime }}</td>
            <td>{{ userstat.earliestExitTime }}</td>
            <td>{{ userstat.latestExitTime }}</td>
            <td>{{ userstat.minhours }}</td>
            <td>{{ userstat.maxhours }}</td>
            <td>{{ userstat.avghours }}</td>
            <td>{{ userstat.totalhours }}</td>
            <td>{{ userstat.totaldays }}</td>
          </tr>
        </tbody>
      </table>

      <div class="d-flex justify-content-between p-2">
        <!-- <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="page"
        [pageSize]="pageSize"
      >
      </ngb-pagination> -->

        <!-- <select style="width: auto" [(ngModel)]="pageSize">
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
            </select> -->
      </div>
    </div>
  </div>
</div>
